<html>

<head>
    <title>RPS-web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lobby.css">
</head>

<body>
    <!-- divide for the top of the document -->
    <div class="top">
        <h1><a class="t" href="/lobby">RPS-web Lobby</a></h1>
    </div>
    <!-- the whole document -->
    <div class="default">
        
        <!-- divide for the left part of the document -->
        <div class="left">
            <!-- divide again -->
            <div class="inner">
                <table style="width: 200px; ">
                    <!-- table for link to making room, refreshing user data -->
                    <tr class="n">
                        <!-- creating new room when user presses button -->
                        <th class="n">Create New Room</th>
                        <th class="n"><button> <a href="/newroom"><img
                                        src="https://cdn-icons.flaticon.com/png/512/3329/premium/3329465.png?token=exp=1639497727~hmac=84931e0d5c1001acfea3b7d9115d032d"
                                        style="height: 20px;"></a><br></button></th>
                    </tr>
                    <!-- refreshing list of room when user input data -->
                    <tr class="n">
                        <th class="n">Refresh Room List</th>
                        <th class="n"> <button onclick="socket.emit('lobby:reqRoomList');"><img src="https://cdn-icons-png.flaticon.com/512/740/740819.png" style="height: 20px;"></button></th>
                    </tr>
                </table>
            </div>
            <!-- divide again inside left division -->
            <div class="inner">
                <!-- table containing list of room -->
                <table id="roomlist" style="width: 360px;">
                    <th>Room Name</th>
                    <th>Max</th>
                    <th>Current</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </table>

            </div>
        </div>

        <!-- divide for the centeral part -->
        <div class="center">
            <table style="width: 200px; margin-right:auto;">

                <!-- when button is clicked, user list is updated -->
                <tr class="n">
                    <th class="n">Refresh User List</th>
                    <th class="n"> <button onclick="socket.emit('lobby:reqUserList');"><img src="https://cdn-icons-png.flaticon.com/512/740/740819.png" style="height: 20px;"></button></th>
                </tr>
            </table>

            <ul id="userlist">
            </ul>
        </div>

        <!-- divide class for the right part -->
        <div class="right">
            <!-- divide again inside right side -->
            <div class="inner">
                <!-- text area for chatting with other users -->
                <textarea id="chatArea" onfocus="javascript:blur();"
                    style="width: 98%; height: 500px; cursor: default; "></textarea>
                    <!-- chatting input -->
                <form id="chatForm">
                    <input id="chatInput" autocomplete="off" type="text" style="width: 87%" required>
                    <button type="submit">Send</button>
                </form>
            </div>
            <!-- divide for logging out -->
            <div class="lgout">
                <a href="/logout"><img src="https://icon-library.com/images/free-logout-icon/free-logout-icon-7.jpg" style="height: 50px;"></a>
            </div>

        </div>

        
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="userdata">

            </div>
        </div>
    </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var inputname = "<%= username %>";
    </script>
    <script type="text/javascript" src="/js/lobby.js"></script>
</body>

</html>