<html>

<head>
    <title>Lobby</title>
    <style type="text/css">
        /* style for headline */
        h1 {
            text-align: center;
        }

        /* style for modal */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        /* Division containing the whole document */
        div.default {
            margin: 0px;
            margin-top: -8px;
            margin-left: -7px;
            padding: 0;
            width: 99.9vw;
            height: 99vh;
            background-color: #DFEBF1;
            /* sets the minimum size of the window, shouldn't be smaller than this size */
            min-width: 1500px;
            min-height: 800px;
        }

        /* action for hover, or focus */
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* style for table containing the room list */
        table.roomlist {
            border: 1px solid black;
            text-align: center;
            padding: 0px;
        }

        /* dedault style of td */
        td {
            border: 1px solid black;
            text-align: center;
            padding: 0px;
        }

        /* default style of th */
        th {
            border: 1px solid black;
            text-align: center;
            padding: 0px;
        }

        /* style for containing selection of user chosen activities */
        td.n {
            text-align: center;
            border: none;
            color: rgb(61, 25, 223);
        }

        /* style for containing selection of user chosen activities */
        th.n {
            text-align: center;
            border: none;
            color: rgb(61, 25, 223);
        }

        /* style for link to the main lobby */
        a.t {
            text-decoration-line: none;
            color: rgb(3, 3, 3);
            font-size: 50px;
        }

        /* style for top part of the document */
        div.top {
            margin: 0px;
            width: 100%;
            height: 15%;
            float: left;
            box-sizing: content-box;
            text-align: center;
            /* style for text */
            border-bottom-style: solid;
            border-bottom-width: 4px;
            border-bottom-color: rgb(210, 156, 226);
            text-shadow: 2px 2px 2px rgb(71, 109, 214);

        }

        /* style for the bottom left part of the document */
        div.left {
            margin: 0px;
            width: 45%;
            height: 85%;
            float: left;
            text-align: center;

        }

        /* style for the center bottom part of the document */
        div.center {
            margin: 0px;
            width: 25%;
            height: 85%;
            float: right;
            text-align: left;

        }

        /* style for the right bottom part of the document */
        div.right {
            margin: 0px;
            width: 30%;
            height: 85%;
            float: right;

        }

        /* style for dividing divided part again */
        div.cht {
            margin: 0px;
            width: 100%;
            height: 90%;
            float: right;


        }

        /* style for dividing divided part again */
        div.lgout {

            margin: 0px;
            width: 100%;
            height: 10%;
            float: right;
            text-align: center;
        }

        /* style for the buttons */
        button {
            border-radius: 5px;
            margin-right: -4px;
            border: 1px solid rgb(235, 135, 230);
            background-color: rgba(212, 209, 211, 0);
            color: rgb(58, 61, 219);
            padding: 5px;
        }
    </style>
</head>

<body>
    <div class="default">
        <div class="top">
            <h1><a class="t" href="/lobby">Welcome to Lobby</a></h1>
        </div>
        <div class="left">
            <div class="lgout">
                <table style="width: 200px; 

                margin-right:auto;">
                    <tr class="n">
                        <th class="n">Create New Room</th>
                        <th class="n"> <a href="/newroom"><img
                                    src="https://cdn-icons.flaticon.com/png/512/3329/premium/3329465.png?token=exp=1639497727~hmac=84931e0d5c1001acfea3b7d9115d032d"
                                    style="height: 20px;"></a><br></th>
                    </tr>
                    <tr class="n">
                        <th class="n">Refresh Room List</th>
                        <th class="n"> <button onclick="socket.emit('lobby:reqRoomList');"><img
                                    src="https://cdn-icons-png.flaticon.com/512/740/740819.png"
                                    style="height: 20px;">

                            </button></th>
                    </tr>
                </table>
            </div>
            <div class="cht">

                <table id="roomlist" style="width: 700px;">
                    <th>Room Name</th>
                    <th>Max</th>
                    <th>Current</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </table>

            </div>
        </div>
        <div class="right">
            <div class="cht">
                <textarea id="chatArea" onfocus="javascript:blur();"
                    style="width: 99%; height: 600px; cursor: default; "></textarea>
                <form id="chatForm">
                    <input id="chatInput" autocomplete="off" type="text" style="width: 87%">
                    <button type="submit">Send</button>
                </form>
            </div>
            <div class="lgout">
                <a href="/logout"><img src="https://icon-library.com/images/free-logout-icon/free-logout-icon-7.jpg"
                        style="height: 50px;"></a>
            </div>

        </div>

        <div class="center">
            <table style="width: 200px; margin-right:auto;">

                <tr class="n">
                    <th class="n">Refresh User List</th>
                    <th class="n"> <button onclick="socket.emit('lobby:reqUserList');"><img
                                src="https://cdn-icons-png.flaticon.com/512/740/740819.png"
                                style="height: 20px;">

                        </button></th>
                </tr>
            </table>

            <ul id="userlist">
            </ul>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="userdata">

            </div>
        </div>
    </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var inputname = "<%= username %>";
        var socket = io('/lobby');
        socket.emit('lobby:reqRoomList');
        socket.emit('lobby:reqUserList');

        var chatForm = document.getElementById('chatForm');
        var whisperForm = document.getElementById('whisperForm');

        var modal = document.getElementById('myModal');

        // Get the <span> element that closes the modal
        var modalspan = document.getElementsByClassName("close")[0];



        // When the user clicks on <span> (x), close the modal
        modalspan.onclick = function () {
            modal.style.display = "none";
            var userData = document.getElementById('userdata');
            userData.innerHTML = '';
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
                var userData = document.getElementById('userdata');
                userData.innerHTML = '';
            }
        }

        function getUserData(username) {
            modal.style.display = "block";
            console.log(username);
            socket.emit('lobby:reqUserData', username);
        }

        function whisper(username) {
            modal.style.display = "none";
            var userData = document.getElementById('userdata');
            userData.innerHTML = '';
            var chatInput = document.getElementById('chatInput');
            chatInput.value = username + '$$:';
        }

        function closeModal() {
            modal.style.display = "none";
            var userData = document.getElementById('userdata');
            userData.innerHTML = '';
        }


        socket.on('lobby:emitChat', (msg, username) => {
            var chatArea = document.getElementById('chatArea');
            chatArea.append("\n" + username + " : " + msg);
        });

        socket.on('lobby:resRoomList', (data) => {
            var roomList = document.getElementById('roomlist');
            roomList.innerHTML = `
                <th>Room Name</th>
                <th>Max</th>
                <th>Current</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            `;
            console.log(data);
            data.forEach((elem) => {
                roomList.innerHTML += '<tr>'
                roomList.innerHTML += `
                    <td>${elem.name}</td>
                    <td>${elem.max_player_count}</td>
                    <td>${elem.players.length}</td>
                    <td><a href="/game/${elem.name}">Join</a></td>
                `;
                roomList.innerHTML += '</tr>';
            })
        });

        socket.on('lobby:resUserList', (data) => {
            var userList = document.getElementById('userlist');
            userList.innerHTML = '';
            userList.innerHTML += `
            <li >${data[0].username}<button onclick="getUserData('${data[0].username}')" >Show Data</button></li>
            `;
            data.shift();
            data.forEach((elem) => {
                userList.innerHTML += `
                <li >${elem.username}<button onclick="getUserData('${elem.username}')" >Show Data</button>&nbsp<button onclick="whisper('${elem.username}')" >Whisper</button></li>
                `;
            });
        });

        socket.on('lobby:resUserData', (data) => {
            var userData = document.getElementById('userdata');
            userData.innerHTML = `
                <p>User name : ${data.username}</p>
                <p>User email : ${data.email}</p>
                <p>Win : ${data.win}</p>
                <p>Loss : ${data.loss}</p>
                <p>Draw : ${data.draw}</p>
                <p>Last Login : ${data.last_connection}</p>
            `;
            if (data.username != inputname) {
                userData.innerHTML += `<button onclick="whisper('${data.username}')">Whisper</button>`;
            }
        });

        socket.on('lobby:invite', (username, roomname) => {
            modal.style.display = "block";
            var userData = document.getElementById('userdata');
            userData.innerHTML = `
                <p>User name : ${username}</p>
                <p>Invited you to </p>
                <button><a href="/game/${roomname}">Accept Invite</a></button>
                <button onclick="closeModal()">Cancel</button>
            `;
        });


        chatForm.onsubmit = (e) => {
            e.preventDefault();
            var chatInput = document.getElementById('chatInput');

            // socket.emit으로 서버에 신호를 전달
            socket.emit('lobby:sendChat', chatInput.value);

            chatInput.value = "";
        };
    </script>
</body>

</html>