<html>

<head>
    <title>Login</title>
    <style type="text/css">
    h1 {
        text-align: center;
        
    }

    </style>
</head>

<body bgcolor="#DFEBF1">
    <br> <br> <br> <br> <br>
    <h1 ><%= message %> </h1>

    <br> <br> <br> <br> <br>
    &emsp;&emsp;&emsp;&emsp;

<img src="https://t4.ftcdn.net/jpg/00/94/77/67/240_F_94776780_JsS7d823JG9SeBWlOVI7B4ptRfXrwFF5.jpg"
style="width:400px; height:400px;">>
&emsp;&emsp;&emsp;

<img src="https://t3.ftcdn.net/jpg/00/60/63/86/240_F_60638664_Fv7a3fZFPiV2UzGzHJ5m4Fh2Hr4Auxf0.jpg">
&emsp;&emsp;

<img src="https://t3.ftcdn.net/jpg/00/60/63/36/240_F_60633690_3o9vxNFlhh9tCJK30Rzq1AErRHbfJ5jC.jpg">
&emsp;&emsp;

<img src="https://t3.ftcdn.net/jpg/00/60/69/84/240_F_60698479_hBqzKxYyI5XC2f0E8WkcFUFAUNiTnM2K.jpg">
&emsp;&emsp;&emsp;

<img src="https://t3.ftcdn.net/jpg/00/94/77/68/240_F_94776800_YYHP8ufDqm8s4oGhtz7SpETgTncpDPJb.jpg"
style="width:400px; height:400px;">



    <div style="text-align: center;">  <br><br><br><br>
    <a href="/signup">  <font size="7"  color="black"> Sign Up <br><br> </a> </font>

</div>

<div style="text-align: center;">
    <form action='/login' method='post'>
        <input type='text' name='username' placeholder='Username' style="height: 25px;width: 170px;">
        <input type='password' name='password' placeholder='Password' style="height: 25px;width: 170px;">
        <input type='submit' style="height: 25px;width: 100px;">
    </form>
</div>

</body>
</html>
