<html>

<head>
    <title>Login</title>
    <style type="text/css">
    h1 {
        text-align: center;
    }

    </style>
</head>

<body bgcolor="orange">
    <br> <br> <br> <br> <br>
    <h1><%= message %> </h1>

    <br> <br> <br> <br> <br>
    &emsp;&emsp;&emsp;&emsp;&emsp;

<img src="https://t4.ftcdn.net/jpg/03/58/13/59/240_F_358135908_XVBkkO1ir7uTxZFj9kCGk7ybtBdDXiEu.jpg"
style="width:500px; height: 130px;">
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<img src="https://t3.ftcdn.net/jpg/00/49/20/42/240_F_49204278_NNUs1C7Zl2iJaUX2Fwbghr5yYMAVCQnP.jpg">
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<img src="https://t4.ftcdn.net/jpg/03/58/13/59/240_F_358135908_XVBkkO1ir7uTxZFj9kCGk7ybtBdDXiEu.jpg"
style="width:500px; height: 130px;">



    <div style="text-align: center;">  <br><br><br><br>
    <a href="/signup">  <font size="6" color="black"> SignUp <br><br> </a> </font>

</div>

<div style="text-align: center;">
    <form action='/login' method='post'>
        <input type='text' name='username' placeholder='Username' style="height: 25px;width: 170px;">
        <input type='password' name='password' placeholder='Password' style="height: 25px;width: 170px;">
        <input type='submit' style="height: 25px;width: 100px;">
    </form>
</div>

</body>
</html>
