<html>

<head>
    <title>RPS-web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        h1 {
            text-align: center;
            font-size: 50px;
            /*input your id and password align the text to the center */
        }

        body {
            background-color: #DFEBF1;
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- background color -->
    <h1>
        RPS-web
    </h1>

    <div style="display: inline-block;">
        <img style="width: 120px;" src="https://t3.ftcdn.net/jpg/00/60/63/86/240_F_60638664_Fv7a3fZFPiV2UzGzHJ5m4Fh2Hr4Auxf0.jpg">

        <img style="width: 120px;" src="https://t3.ftcdn.net/jpg/00/60/63/36/240_F_60633690_3o9vxNFlhh9tCJK30Rzq1AErRHbfJ5jC.jpg">

        <img style="width: 120px;" src="https://t3.ftcdn.net/jpg/00/60/69/84/240_F_60698479_hBqzKxYyI5XC2f0E8WkcFUFAUNiTnM2K.jpg">
    </div>
    
    <br>




    <!-- if you press sign up button, move to the sign up page -->
    <div style="text-align: center; display: inline-block; font-size: 30; color: blue; margin-top: 50;">
        <a href="/signup" style = "text-decoration-line: none;">
            <b>Sign Up</b>
        </a>
    </div>
    <br>
    <div style="text-align: center; display: inline-block; margin-top: 20px;">
        <form action='/login' method='post'>
            <input type='text' name='username' placeholder='Username' style="height: 40px;width: 170px;" required>
            <!-- enter username-->

            <input type='password' name='password' placeholder='Password' style="height: 40px;width: 170px;" required>
            <!-- enter password -->

            <input type='submit' style="height: 40px;width: 100px; " value="Log In">
            <!-- submit' button -->
        </form>
    </div>

</body>

</html>