<html>

<head>
    <title>RPS-web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        h1 {
            text-align: center;
            /* align the New Room to the center of the page */
        }
        body {
            text-align: center;
            background-color: #DFEBF1;
        }
        div.top {
            width: 100%;
            /* style for text */
            border-bottom-style: solid;
            border-bottom-width: 4px;
            border-bottom-color: rgb(210, 156, 226);
            text-shadow: 2px 2px 2px rgb(71, 109, 214);

        }
        a {
            color: black;
            font-size: 36px;
        }

        #warning {
            color: red;
        }
    </style>
</head>
  
<body>
    <div class="top">
        <h1>RPS-web Making New Room</h1>
    </div>
    <div style="display: inline-block; text-align: left;"></div>

    <img src="https://t4.ftcdn.net/jpg/00/86/16/21/240_F_86162112_uOlc958HLu91DMpNj7YxNgHdIhD5NQ78.jpg" style="width: 35px;">
    <a href="/lobby">Back</a>
    <!--when you press back button, you go back to the lobby page -->
    <br>
    
    <form action='/newroom' method='post'> 
        <!-- align 3 images to the leftside -->
        
        <img style="width: 120px;" src="https://t3.ftcdn.net/jpg/00/60/63/86/240_F_60638664_Fv7a3fZFPiV2UzGzHJ5m4Fh2Hr4Auxf0.jpg">
        <img style="width: 120px;" src="https://t3.ftcdn.net/jpg/00/60/63/36/240_F_60633690_3o9vxNFlhh9tCJK30Rzq1AErRHbfJ5jC.jpg">
        <img style="width: 120px;" src="https://t3.ftcdn.net/jpg/00/60/69/84/240_F_60698479_hBqzKxYyI5XC2f0E8WkcFUFAUNiTnM2K.jpg">

        <br>     
        <select name="max" id="numberOfPlayers" style="width: 70px; height: 48px; font-size: 25px;">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>

        
        <!-- enter the room name -->
        <input type='text' size='100' name='roomname' placeholder='Room Name'  style="height: 50px;width: 230px; font-size: 20px;" required>
        <!-- <input type='password' name='password' placeholder='password'> -->
     
        <!-- press 'submit' button -->
        <input type='submit' value="Submit" style="height: 50px; width: 90px; font-size: 20px;"> 
        
    </form>
    <h3 id="warning"><%= message %> </h3>
    </div>
    


</body>
</html>
