<html>

<head>
    <title>RPS-web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        h1 {
            text-align: center;
            /* align the New Room to the center of the page */
        }
        body {
            background-color: #DFEBF1;
        }
        a {
            color: black;
            font-size: 36px;
        }

        #warning {
            color: red;
        }
    </style>
</head>
  
<body>
    <h1>RPS-web Making New Room</h1>

    <img src="https://t4.ftcdn.net/jpg/00/86/16/21/240_F_86162112_uOlc958HLu91DMpNj7YxNgHdIhD5NQ78.jpg" style="width: 35px;">
    <a href="/lobby">Back</a>
    <!--when you press back button, you go back to the lobby page -->
    <br>
    <form action='/newroom' method='post'> 
        <!-- align 3 images to the leftside -->
        
        <img src="https://t4.ftcdn.net/jpg/01/37/39/61/240_F_137396146_YdMApcVRhlbLZXvzzxRnlGImQbJ6zQuO.jpg" style="height:300px;width: 250px;">
        <img src="https://t4.ftcdn.net/jpg/01/37/39/61/240_F_137396133_S49HfXiYBw32t0pgTG3tbP11H6Qq172J.jpg" style="height:300px;width: 250px;">
        <img src="https://t4.ftcdn.net/jpg/01/37/39/61/240_F_137396161_FFg2Zew8qbtvfqY9oXidLi1US231xhU2.jpg" style="height:300px;width: 250px;">

        <br>     
        <select name="max" id="numberOfPlayers" style="width: 70px; height: 48px; font-size: 25px;">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>

        
        <!-- enter the room name -->
        <input type='text' size='100' name='roomname' placeholder='Room Name'  style="height: 50px;width: 230px; font-size: 20px;" required>
        <!-- <input type='password' name='password' placeholder='password'> -->
     
        <!-- press 'submit' button -->
        <input type='submit' value="Submit" style="height: 50px; width: 90px; font-size: 20px;"> 
        
    </form>
    <h3 id="warning"><%= message %> </h3>


</body>
</html>
