<html>

<head>
    <title>Login</title>
    <style type="text/css">
    h1 {
        text-align: center;
    }

    </style>
</head>

<body>
    <h1>New Room</h1>
    <a href="/lobby">Back</a>
    <form action='/newroom' method='post'>
        <label for="numberOfPlayers">Choose a number of max player:</label>

        <select name="max" id="numberOfPlayers">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <input type='text' name='roomname' placeholder='room name'>
        <!-- <input type='password' name='password' placeholder='password'> -->
        <input type='submit'>
    </form>
</body>
</html>
