<html>

<head>
    <title>Login</title>
    <style type="text/css">
    h1 {
        text-align: center;
    }

    </style>
</head>

<body>
    <h1>New Room</h1>
    <a href="/lobby">Back</a>
    <form action='/newtable' method='post'>
        <input type='text' name='tablename' placeholder='table name'>
        <!-- <input type='password' name='password' placeholder='password'> -->
        <input type='submit'>
    </form>
</body>
</html>
