<!DOCTYPE html>
<html lang="ko">
<head>
    <title>RPS-web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/RPSgame.css">
</head>
<body>
    <div class="top">
        <h1>RPS-web Lobby</h1>
    </div>
    <div class="outer">
        <div class="inner" style="margin-bottom: 20px;">
            <div style="width: 100%;">
                <table id="usertable">
                    <tr>
                    <% for(let i = 0; i < room.max_player_count; i++) { %>
                        <% if(i == 4) { %> 
                        </tr><tr>
                        <% } %> 
                        <td id="<%= i %>">
                            <table>
                                <tr>
                                    <td class="status">Empty</td>
                                </tr>
                                <tr>
                                    <td class="status"></td>
                                </tr>
                            </table>
                        </td>
                    <% } %> 
                    </tr>
                </table>
            </div><br>
            <button id="readybtn" onclick="setReady()" style="height: 100px; width: 49%;">Ready Game</button>
            <button id="backbtn" onclick="closeGame()" style="height: 100px; width: 49%;">Back to Lobby</button>
        </div>
        <div class="inner">
            <textarea id="chatarea" onfocus="javascript:blur();" style="width: 360px; height: 500px;"></textarea>
            <form id="chatform">
                <input id="chatinput" autocomplete="off" type="text" required>
                <button type="submit">Send</button>
            </form>
        </div>
        <div class="inner" style="margin-left: 20px; margin-top: 20px;">
            <button id="showbtn" onclick="showLobbyUserList()">Show User List</button>
            <ul id="userlist" style="display: none;">
                
            </ul>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div id="insideModal"></div>
        </div>
      </div>
    

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let username = "<%= username %>"; // 유저 이름 입력 받기
        let roomname = "<%= roomname %>";
        
    </script>
    <script type="text/javascript" src="/js/RPSgame.js"></script>
</body>
</html>