<html>

<head>
    <title>RPS-web</title>
    <style type="text/css">
        /*style for headline of the file*/
        h1 {
            text-align: center;
        }

        /*style for div tag that contains the whole document*/
        div {
            margin: 0px;
            margin-top: -8px;
            margin-left: -7px;
            padding: 0;
            width: 100vw;
            height: 98vh;
            position: sticky;
            background-color: #DFEBF1;
        }

        /*style for division for the top part of the document*/
        div.top {
            margin: 0px;
            width: 100%;
            height: 15%;
            float: left;
            box-sizing: content-box;
            text-align: center;
            /* style for text */
            border-bottom-style: solid;
            border-bottom-width: 4px;
            border-bottom-color: rgb(210, 156, 226);
            text-shadow: 2px 2px 2px rgb(102, 97, 97);

        }

        /*style for division for the top part of center div part*/
        div.tp {
            margin: 0px;
            width: 100%;
            height: 15%;
            float: left;
            box-sizing: content-box;
            text-align: center;
        }

        /*style for the left part of bottom part of the file*/
        div.left {
            margin: 0px;
            width: 30%;
            height: 100%;
            float: left;
            text-align: center;
        }

        /*style for the center part of the bottom part of the file*/
        div.center {
            margin: 0px;
            width: 40%;
            height: 100%;
            float: right;
            text-align: center;
        }

        /* style for the right part of the bottom part of the file */
        div.right {
            margin: 0px;
            width: 30%;
            height: 100%;
            float: right;

        }

        /* style for the middle part of the center division */
        div.centre {
            margin: 0px;
            width: 100%;
            height: 15%;
            float: left;

        }

        /* style for the bottom part of the document */
        div.bottom {
            margin: 0px;
            width: 100%;
            height: 85%;
            float: left;
            box-sizing: content-box;
            text-align: center;


        }

        /* style fo the bottom part of the center division */
        div.btm {
            margin: 0px;
            width: 100%;
            height: 70%;
            float: left;

        }

        /* style for link  */
        a {
            text-decoration-line: none;
            color: rgb(11, 53, 240);
            font-size: medium;
        }

        /* style for warning sign for comparing passwords  */
        p {
            font-size: 20;
            color: rgb(172, 18, 18);
        }

        /* style for table for inputting user data */
        td {
            text-align: center;
        }
    </style>

    <script>
        //function for input of checking whether user input password, and re input of password are the same
        function check_pw() {

            //if 2 passwords all have value, not null
            if (document.getElementById('password').value != '' && document.getElementById('re-password').value != '') {
                //if 2 passwords have same value
                if (document.getElementById('password').value == document.getElementById('re-password').value) {
                    document.getElementById('check').innerHTML = 'The password matches.'
                    document.getElementById('check').style.color = 'blue';
                }
                //if 2 passwords don't match
                else {
                    document.getElementById('check').innerHTML = 'The password does not match.';
                    document.getElementById('check').style.color = 'red';
                }
            }
        }


    </script>
</head>


<body>

    <div>
        <!-- divide for top part of the document, where headline, icon will be displayed -->
        <div class="top">

            <!-- divide for the left part of the top division, where an icon will be displayed -->
            <div class="left">
                <img src="https://cdn-icons-png.flaticon.com/512/744/744118.png" style="height: 110px; float: right;">
            </div>

            <!-- divide for the right part of the top division, where an another icon will be displayed -->
            <div class="right">
                <img src="https://cdn-icons-png.flaticon.com/512/744/744119.png" style="height: 110px; float: left;">
            </div>
            <!--image downloaded from https://www.flaticon.com/search?word=paper+scissors+rock-->

            <!-- divide for the centeral part of the top division, where a text will be displayed -->
            <div class="center">
                <h1 style="font-size: 50px;">
                    Welcome to the game of RPS!!
                </h1>

            </div>
        </div>

        <div class="bottom">

            <!-- divide for the left part of the remaining part of the document except for the top part -->
            <div class="left">

            </div>
            <!-- divide for the right part of the remaining part of the document except for the top part -->
            <div class="right">

            </div>

            <!-- divide for the centeral part of the remaing part of the document except for the top part, where 
        user will input data for signing up -->
            <div class="center">

                    <div class="tp">

                    </div>
                    <!-- divide for the centeral part of the centeral part of the bottom part, where user will input their data -->
            
                <!-- divide for the centeral part of the centeral part of the bottom part, where user will input their data -->
                <div class="centre">
                    <!-- table for containing data for the newly input user data -->
                    <table style=" margin-left:auto; margin-right:auto;">
                        
                        <!-- ID input (nickname) -->
                        <tr>
                            <td width="50%"><b style="font-size: 25px;">ID (Nickname) </b></td>
                            <td><input type='text' name='username' placeholder='example' 
                                style="float:right; font-size: 15px" required>
                            </td> 
                        </tr> 

                            <!-- email input -->
                            <tr>
                                <td width="50%"><b style="font-size: 25px;">Email</b></td>
                                <td> <input type='email' name='email' id='email' placeholder='example@gachon.ac.kr'
                                        style="float:right; font-size: 15px;" required></td>
                            </tr>

                            <!-- password input -->
                            <tr>
                                <td width="50%"><b style="font-size: 25px;">Password</b></td>
                                <td><input type='password' name='password' id="password"
                                        placeholder='enter more than 6 letters' style="float:right; font-size: 15px"
                                        pattern=".{6,}" required onchange="check_pw()"></td>
                            </tr>

                            <!-- password re input for confirming whether 2 are the same -->
                            <tr>

                                <td width="50%"><b style="font-size: 25px;">Confirm Password</b></td>
                                <td><input type='password' name='re-password' id='re-password' placeholder='re-password'
                                        style="float: right; font-size: 15px" onchange="check_pw()" required>

                                </td>
                            </tr>


                        </table>
                        <br>
                    </div>
                    <!-- divide for the bottom part of the centeral part, where submit button, link back to log in file exists -->
                    <div class="btm">
                        <p><span id="check"></span><br><br><br>
                            <!-- submit input data to the DB -->
                            <input type='submit' value="Sign Up"
                                style="border-radius: 5px; margin-right:-4px; border: 1px solid rgb(235, 135, 230); background-color: rgba(0,0,0,0); color: rgb(245, 53, 171); padding: 10px; font-size: 20px;">
                        <p>
                            <!-- if user already have ID then, go back to log in page -->
                        <p><a href="/login" style="font-size: 25px;"><b>Do you already have an account?</b></a>
                    </div>
            </div>
        </div>
    </div>

</body>

</html>