<html>

<head>
    <title>Sign Up</title>
    <style type="text/css">
        h1 {
            text-align: center;
        }

        div {
            margin: 0px;
            padding: 0;
            width: 100vw;
            height: 100vh;
        }

        div.top {
            margin: 0px;
            width: 100%;
            height: 15%;
            float: left;
            box-sizing: content-box;
            text-align: center;
            border-bottom-style: solid;
            border-bottom-width: 3px;
            border-bottom-color: rgb(210, 156, 226);
        }

        div.tp {
            margin: 0px;
            width: 100%;
            height: 15%;
            float: left;
            box-sizing: content-box;
            text-align: center;
        }

        div.left {
            margin: 0px;
            width: 30%;
            height: 85%;
            float: left;
            text-align: center;
        }


        div.center {
            margin: 0px;
            width: 40%;
            height: 85%;
            float: right;
            text-align: center;
        }

        div.right {
            margin: 0px;
            width: 30%;
            height: 85%;
            float: right;

        }

        div.centre {
            margin: 0px;
            width: 100%;
            height: 25%;
            float: left;

        }

        div.btm {
            margin: 0px;
            width: 100%;
            height: 60%;
            float: left;

        }

        a {
            text-decoration-line: none;
            color: rgb(11, 53, 240);
            font-size: medium;
        }

        p {
            font-size: 10;
            color: rgb(172, 18, 18);
        }

        td {
            text-align: center;
        }
    </style>

    <script>
        function check_pw() {

            var pw = document.getElementById('password').value;
            var SC = ["!", "@", "#", "$", "%"];
            var check_SC = 0;


            if (document.getElementById('password').value != '' && document.getElementById('re-password').value != '') {
                if (document.getElementById('password').value == document.getElementById('re-password').value) {
                    document.getElementById('check').innerHTML = '비밀번호가 일치합니다.'
                    document.getElementById('check').style.color = 'blue';
                }
                else {
                    document.getElementById('check').innerHTML = '비밀번호가 일치하지 않습니다.';
                    document.getElementById('check').style.color = 'red';
                }
            }
        }
    </script>
</head>

<body>

    <div>
        <div class="top">


            <div class="left">
                <img src="https://cdn-icons-png.flaticon.com/512/744/744118.png" style="height: 70px; float: right;">
            </div>
            <div class="right">
                <img src="https://cdn-icons-png.flaticon.com/512/744/744119.png" style="height: 70px; float: left;">
            </div>

            <div class="center">
                <h1>
                    Welcome to the game of RPS!!
                </h1>


            </div>
        </div>

        <div class="left">

        </div>
        <div class="right">

        </div>

        <div class="center">

            <form action='/signup' method='post'>
                <div class="tp">

                </div>
                <div class="centre">
                    <table style=" margin-left:auto; margin-right:auto;">
                        <tr>

                            <td width="50%"><b>ID(닉네임)</b></td>
                            <td><input type='text' name='username' placeholder='example' style="float:right;" required>
                            </td>
                        </tr>
                        <tr>

                            <td width="50%"><b>이메일</b></td>
                            <td> <input type='email' name='email' id='email' placeholder='example@gachon.ac.kr'
                                    style="float:right;" required></td>
                        </tr>
                        <tr>

                            <td width="50%"><b>비밀번호</b></td>
                            <td><input type='password' name='password' id="password" placeholder='password'
                                    style="float:right;" pattern=".{6,}" required onchange="check_pw()"></td>
                        </tr>
                        <tr>

                            <td width="50%"><b>비밀번호 확인</b></td>
                            <td><input type='password' name='re-password' id='re-password' placeholder='password'
                                    style="float: right;" onchange="check_pw()" required>
                                &nbsp;<p><span id="check"></span>
                            </td>
                        </tr>


                    </table>
                    <br>
                </div>
                <div class="btm">
                    <input type='submit' onclick="test()" value="Sign Up">
                    <p>
                    <p><a href="/login"><b>이미 계정이 있으신가요??</b></a>
                </div>
        </div>
    </div>
    </div>
    </div>

</body>

</html>