/*style for headline of the file*/
h1 {
    text-align: center;
}

/*style for div tag that contains the whole document*/
div {
    margin: 0px;
    margin-top: -8px;
    margin-left: -7px;
    padding: 0;
    width: 100vw;
    height: 98vh;
    position: sticky;
    background-color: #DFEBF1;
}

/*style for division for the top part of the document*/
div.top {
    margin: 0px;
    width: 100%;
    height: 15%;
    float: left;
    box-sizing: content-box;
    text-align: center;
    /* style for text */
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(210, 156, 226);
    text-shadow: 2px 2px 2px rgb(102, 97, 97);

}

/*style for division for the top part of center div part*/
div.tp {
    margin: 0px;
    width: 100%;
    height: 15%;
    float: left;
    box-sizing: content-box;
    text-align: center;
}

/*style for the left part of bottom part of the file*/
div.left {
    margin: 0px;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
}

/*style for the center part of the bottom part of the file*/
div.center {
    margin: 0px;
    width: 40%;
    height: 100%;
    float: right;
    text-align: center;
}

/* style for the right part of the bottom part of the file */
div.right {
    margin: 0px;
    width: 30%;
    height: 100%;
    float: right;

}

/* style for the middle part of the center division */
div.centre {
    margin: 0px;
    width: 100%;
    height: 25%;
    float: left;

}

/* style for the bottom part of the document */
div.bottom {
    margin: 0px;
    width: 100%;
    height: 85%;
    float: left;
    box-sizing: content-box;
    text-align: center;


}

/* style fo the bottom part of the center division */
div.btm {
    margin: 0px;
    width: 100%;
    height: 60%;
    float: left;

}

/* style for link  */
a {
    text-decoration-line: none;
    color: rgb(11, 53, 240);
    font-size: medium;
}

/* style for warning sign for comparing passwords  */
p {
    font-size: 20;
    color: rgb(172, 18, 18);
}

/* style for table for inputting user data */
td {
    text-align: center;
}