/*style for headline of the file*/
h1 {
    text-align: center;
}
body {
    text-align: center;
    background-color: #DFEBF1;
}
/*style for div tag that contains the whole document*/


/*style for division for the top part of the document*/
div.top {
    width: 100%;
    float: left;
    text-align: center;
    /* style for text */
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(210, 156, 226);
    text-shadow: 2px 2px 2px rgb(102, 97, 97);

}

/*style for the left part of bottom part of the file*/
div.left {
    float: left;
    text-align: center;
}

/*style for the center part of the bottom part of the file*/
div.center {
    display: inline-block;
    text-align: center;
}

/* style for the right part of the bottom part of the file */
div.right {
    float: right;
    text-align: center;
}

/* style for the bottom part of the document */
div.bottom {
    display: inline-block;
    text-align: center;
}

/* style for link  */
a {
    text-decoration-line: none;
    color: rgb(11, 53, 240);
    font-size: medium;
}

/* style for warning sign for comparing passwords  */
p {
    font-size: 20;
    color: rgb(172, 18, 18);
}

/* style for table for inputting user data */
td {
    text-align: center;
}